.changepass-form {
    width: 400px;
}

.change-pass-wrap#main-login {
    height: auto;
}

.change-pass-wrap#main-login .login_wrapper {
    position: relative;
    left: inherit;
    top: inherit;
    transform: inherit;
}