<!-- <app-header></app-header> -->
<section id="main-login" class="change-pass-wrap">
    <div class="login_wrapper d-flex justify-content-center align-items-center">
        <form class="reset-passwrap changepass-form align-items-center justify-content-center d-fle" #changePassword="ngForm">
            <div class="lost-pass-head">
                <h3 class="login-heading lostpass-text">Change Password</h3>
                <p class="tec_mang">a strong password helps prevent unauthorized access to your account</p>
            </div>

            <div class="entry-group">
                <div class="input-form d-flex align-items-center">
                    <mat-form-field>
                        <div class="input-icon">
                            <span class="ico-cancle">
                                    <svg> 
                                       <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="assets/images/sprite.svg#lockIco"></use>
                                    </svg>
                                 </span>
                        </div>
                        <input matInput name="Password" placeholder="Enter Old Password" type="password" [(ngModel)]="passwordForm.Password" required autocomplete="off">
                    </mat-form-field>
                </div>
                <div class="input-form d-flex align-items-center">
                    <mat-form-field>
                        <div class="input-icon">
                            <span class="ico-cancle">
                              <svg> 
                                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="assets/images/sprite.svg#lockIco"></use>
                              </svg>
                            </span>
                        </div>
                        <input matInput name="NewPassword" placeholder="Enter New Password" type="password" [(ngModel)]="passwordForm.NewPassword" required autocomplete="off" #passwordValidate="ngModel" [pattern]="passwordPattern">
                        <mat-error *ngIf="passwordValidate.hasError('pattern')">
                            Minimum eight characters, at least one uppercase letter, one lowercase letter and one number
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="input-form d-flex align-items-center">
                    <mat-form-field>
                        <div class="input-icon">
                            <span class="ico-cancle">
                              <svg> 
                                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="assets/images/sprite.svg#lockIco"></use>
                              </svg>
                            </span>
                        </div>
                        <input matInput name="confirmPassword" placeholder="Confirm New Password" type="password" [(ngModel)]="passwordForm.confirmPassword" required autocomplete="off">
                    </mat-form-field>
                </div>
                <div class="input-form d-flex align-items-center">
                    <p class="on-error" *ngIf="isNotMatched">
                        New Password And Confirm Password Not <strong>Matched</strong>
                    </p>
                </div>
                <div class="d-flex justify-content-around align-items-center">
                    <button class="btn_primary mg-lft20" mat-button [ngClass]="{'disabled': isDisabled}" [disabled]="!changePassword.form.valid" (click)="onSubmit(passwordForm)">Save New Password</button>
                    <mat-spinner class="loader box-center" *ngIf="isDisabled"></mat-spinner>
                </div>
            </div>
        </form>
    </div>
</section>