<!-- Start:footer sec -->
<footer>
    <div class="footer_wrap">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div id="map">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d117763.5515415333!2d75.79380943001323!3d22.72411583868438!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3962fcad1b410ddb%3A0x96ec4da356240f4!2sIndore%2C+Madhya+Pradesh!5e0!3m2!1sen!2sin!4v1528886704221"
                            width="200" height="150" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="contact_detail foot_content">
                        <h4 class="heading_foot">Contact</h4>
                        <ul class="list-inline">
                            <li>8110 Mill Pont St Montgomery Village, MD 20886</li>
                            <li>random@email.com</li>
                            <li>000 000 000</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="quicks_links foot_content">
                        <h4 class="heading_foot">Quick Link</h4>
                        <ul class="list-inline">
                            <li>Home</li>
                            <li>Overview</li>
                            <li>What we do</li>
                            <li>News</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="newsletter foot_content">
                        <h4 class="heading_foot">Newsletter</h4>
                        <div class="form-group">
                            <input type="email" class="form-control" id="reg-footemail" placeholder="Email">
                        </div>
                        <button type="submit" class="btn foot_submit btn_bluebox">Submit</button>
                    </div>
                </div>
            </div>
            <div class="copywrite_sec">
                <ul class="d-flex justify-content-center align-item-center">
                    <li>Copywrite 2018</li>
                    <li>Privacy Policy</li>
                    <li>Terms & Condition</li>
                </ul>
            </div>
        </div>
    </div>
</footer>

<!-- End:footer sec -->